# Data Types and Structures Questions

**Q1. What are data structures, and why are they important?**

Data structures are ways of organizing and storing data in a computer so it can be accessed and modified efficiently.

They are important because they:

Optimize data processing and retrieval.

Help manage large amounts of data

Improve code readability and maintainability


**Q2. Explain the difference between mutable and immutable data types with examples.**

Mutable: Can be changed after creation.
Examples: list, dict, set

Immutable: Cannot be changed after creation.
Examples: int, float, str, tuple


**Q3. What are the main differences between lists and tuples in Python?**

Lists:

- It can be changed after creation.
- Representing syntax []
- Slower Performance

Tuples:

- It cannot be changed after creation.
- Representing syntax ()
- Faster Performance

**Q4. Describe how dictionaries store data.**

Dictionaries store data in key-value pairs using a hash table internally.
Each key is hashed to find the index in memory where the value is stored.

**Q5. Why might you use a set instead of a list in Python?**

Use a set when:

You need unique elements only

You want fast membership testing (in keyword is faster)

**Q6. What is a string in Python, and how is it different from a list?**

- A string is an immutable sequence of characters.

- A list is a mutable sequence of elements (can be of any data type).

**Q7. How do tuples ensure data integrity in Python?**

Tuples are immutable, so once created, their data cannot be altered, which:

- Prevents accidental modification

- Makes them suitable for fixed data

- Can be used as dictionary keys

**Q8. What is a hash table, and how does it relate to dictionaries in Python?**

A hash table is a data structure that maps keys to values using a hash function to compute an index.

Python dictionaries use hash tables internally for:

- Fast access to values

- Constant-time complexity for lookups and inserts on average

**Q9. Can lists contain different data types in Python?**

Yes

**Q10. Explain why strings are immutable in Python.**

- Improve security (e.g., in password handling)
- Optimize performance, since shared strings can be stored only once

**Q11. What advantages do dictionaries offer over lists for certain tasks?**

- Faster Lookups
- Key-value mapping
- No need to know the index

**Q12. Describe a scenario where using a tuple would be preferable over a list.**

Use a tuple when:

- You want to ensure data doesn't change
- You need a hashable object

Example -

Location co-ordinates

location = (10, 20)  # Should not be changed

**Q13. How do sets handle duplicate values in Python?**

Sets automatically remove duplicates. Only unique values are stored.

- Eg-

my_set = {1,1,2,3,3}

print(my_set)  # Output- {1,2,3}

**Q14. How does the “in” keyword work differently for lists and dictionaries?**

- In lists, in checks for presence of a value

- In dictionaries, in checks for presence of a key

**Q15. Can you modify the elements of a tuple? Explain why or why not.**

No, because tuple is immutable. We cannot modify the elemnets after the creation.

**Q16. What is a nested dictionary, and give an example of its use case.**

A nested dictionary is a dictionary where values are themselves dictionaries.

Example - Student data:

students = {

    "101": {"name": "Aman", "age": 20},

    "102": {"name": "Rohit", "age": 22}
}

print(students["101"]["name"])  # Output: Alice


**Q17. Describe the time complexity of accessing elements in a dictionary.**

Average case: O(1) (constant time)
Worst case: O(n) (rare, due to hash collisions)

**Q18. In what situations are lists preferred over dictionaries?**

Use lists when:

- Order matters

- You need to store a sequence of items

- There is no need for key-value pairing

**Q19. Why are dictionaries considered unordered, and how does that affect data retrieval?**

Dictionaries are considered unordered because they don't guarantee a specific order for their elements (key-value pairs) when accessed or iterated through.

How Unordered Affects Data Retrieval:

- No guaranteed order
- No index-based access
- Hash table implementation
- Key-based access


**Q20. Explain the difference between a list and a dictionary in terms of data retrieval. **

- List: Access data by index

my_list = ["apple", "banana"]

print(my_list[0])  # "apple"

- Dictionaries: Access data by key.

my_dict = {"fruit": "apple", "veg": "carrot"}

print(my_dict["fruit"])   # "apple"

# Practical Questions

In [1]:
#Q1- Write a code to create a string with your name and print it.

my_name = "Hritik Maheshwari"
print(my_name)

Hritik Maheshwari

In [2]:
#Q2- Write a code to find the length of the string "Hello World".

len("Hello World")

11

In [20]:
#Q3-  Write a code to slice the first 3 characters from the string "Python Programming"

str = "Python Programming"
print(str[:3])

Pyt

In [13]:
#Q4-  Write a code to convert the string "hello" to uppercase

str = "hello"
str2 = str.upper()
print(str2)

HELLO

In [16]:
#Q5- Write a code to replace the word "apple" with "orange" in the string "I like apple"?

str = "I like apple"
str2 = str.replace('apple','orange')
print(str2)

I like orange

In [17]:
#Q6- Write a code to create a list with numbers 1 to 5 and print it.

lst = [1,2,3,4,5]
print(lst)

[1, 2, 3, 4, 5]

In [18]:
#Q7- Write a code to append the number 10 to the list [1, 2, 3, 4]

lst = [1,2,3,4]
lst.append(10)
print(lst)

[1, 2, 3, 4, 10]

In [19]:
#Q8-  Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]

lst = [1, 2, 3, 4, 5]
lst.remove(3)
print(lst)

[1, 2, 4, 5]

In [21]:
#Q9- Write a code to access the second element in the list ['a', 'b', 'c', 'd']

list = ['a', 'b', 'c', 'd']
print(list[1])

b

In [10]:
#Q10-  Write a code to reverse the list [10, 20, 30, 40, 50].

lst = [10, 20, 30, 40, 50]
lst_rev =[]
for i in range(len(lst)-1,-1,-1):
    lst_rev.append(lst[i])
print(lst_rev)

[50, 40, 30, 20, 10]

In [12]:
#Q11 -  Write a code to create a tuple with the elements 100, 200, 300 and print it.

elements = (100,200,300)
print(elements)

(100, 200, 300)

In [14]:
#Q12 - Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').

elements = ('red', 'green', 'blue', 'yellow')
print(elements[-2])

blue

In [8]:
#Q13 - Write a code to find the minimum number in the tuple (10, 20, 5, 15).

min_num = (10, 20, 5, 15)
num = min_num[0]
for i in min_num:
    if i < num:
        num = i
print(num)

5

In [13]:
#Q14 -  Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

animals = ('dog', 'cat', 'rabbit')
position = animals.index("cat")
print(position)

1

In [25]:
#Q15 - Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.

fruits = ("apple", "mango", "kiwi")
if 'kiwi' in fruits:
   print(True)
else:
   print(False)

True

In [29]:
#Q16 -  Write a code to create a set with the elements 'a', 'b', 'c' and print it.

numbers = {'a', 'b', 'c'}
print(numbers)

{'c', 'a', 'b'}

In [32]:
#Q17 -  Write a code to clear all elements from the set {1, 2, 3, 4, 5}.

numbers = {1, 2, 3, 4, 5}
numbers.clear()
print(numbers)

set()

In [34]:
 #Q18- Write a code to remove the element 4 from the set {1, 2, 3, 4}.

 my_set = {1, 2, 3, 4}
 my_set.remove(4)
 print(my_set)

{1, 2, 3}

In [35]:
#Q19-  Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.

set1 = {1,2,3}
set2 = {3,4,5}

set_final = set1 | set2
print(set_final)

{1, 2, 3, 4, 5}

In [36]:
#Q20-  Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.

set1 = {1,2,3}
set2 = {2,3,4}

set_final = set1 & set2
print(set_final)

{2, 3}

In [38]:
#Q21-  Write a code to create a dictionary with the keys "name", "age", and "city", and print it.

info = {"name" : "Hritik", "age" : "24", "city" : "Agra"}
print(info)

{'name': 'Hritik', 'age': '24', 'city': 'Agra'}

In [40]:
#Q22- Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.

info = {'name': 'John', 'age': 25}
info["country"] = "USA"
print(info)

{'name': 'John', 'age': 25, 'country': 'USA'}

In [41]:
#Q23- Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.

info = {'name': 'Alice', 'age': 30}
info['name']

'Alice'

In [46]:
#Q24- Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}

info = {'name': 'Bob', 'age': 22, 'city': 'New York'}
del info['age']
print(info)

{'name': 'Bob', 'city': 'New York'}

In [50]:
#Q25- Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.

info = {'name': 'Alice', 'city': 'Paris'}
if 'city' in info:
    print(True)
else:
    print(False)

False

In [51]:
#Q26- Write a code to create a list, a tuple, and a dictionary, and print them all.


my_list = [1, 2, 3, 4, 5]

my_tuple = ('apple', 'banana', 'cherry')

my_dict = {'name': 'John', 'age': 25, 'city': 'New York'}

print("List:", my_list)
print("Tuple:", my_tuple)
print("Dictionary:", my_dict)

List: [1, 2, 3, 4, 5]
Tuple: ('apple', 'banana', 'cherry')
Dictionary: {'name': 'John', 'age': 25, 'city': 'New York'}

In [2]:
#Q27-  Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result.(replaced)

import random

rand_num = [random.randint(1, 100) for _ in range(5)]

rand_num.sort()

print(rand_num)

[44, 64, 67, 74, 80]

In [5]:
#Q28- Write a code to create a list with strings and print the element at the third index.

fruits = ["apple","mango","kiwi","orange","cherry"]
print(fruits[3])

orange

In [13]:
#Q29- Write a code to combine two dictionaries into one and print the result.

dict1 = {"Name" : "Hritik", "Age" : 24}
dict2 = {"Location" : "Agra", "Gender" : "Male"}
dict1.update(dict2)
print(dict1)

{'Name': 'Hritik', 'Age': 24, 'Location': 'Agra', 'Gender': 'Male'}

In [17]:
#Q30- Write a code to convert a list of strings into a set.

fruits = ["apple","mango","kiwi","orange","cherry"]
fruits_set = set(fruits)
print(fruits_set)

{'cherry', 'mango', 'apple', 'kiwi', 'orange'}